In [66]:
import pandas as pd

In [67]:
# Se carga el archivo y reviso las hojas del Excel
internet = pd.ExcelFile(r"Data\Internet.xlsx")
print(internet.sheet_names)

['Acc_vel_loc_sinrangos', 'Velocidad_sin_Rangos', 'Accesos_tecnologia_localidad', 'Velocidad % por prov', 'Totales VMD', 'Totales Accesos Por Tecnología', 'Accesos Por Tecnología', 'Penetración-poblacion', 'Penetracion-hogares', 'Penetracion-totales', 'Totales Accesos por velocidad', 'Accesos por velocidad', 'Dial-BAf', 'Totales Dial-BAf', 'Ingresos ']

In [68]:
# Guardo en dataframes las hojas del archivo 'Internet' que voy a tomar para el análisis
accesos_por_tecnologia = internet.parse('Accesos Por Tecnología')
penetracion_poblacion = internet.parse('Penetración-poblacion')
penetracion_hogares = internet.parse('Penetracion-hogares')
accesos_por_velocidad = internet.parse('Accesos por velocidad')
velocidad_por_prov = internet.parse('Velocidad % por prov')

Primeramente comienzo a realizar un Dataframe con info discriminada por provincias

Reviso la información de cada dataframe: cantidad de columnas, nulos, tipos de datos, etc., para considerar cómo armar la información para posterior análisis.

In [69]:
accesos_por_tecnologia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 986 entries, 0 to 985
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           985 non-null    object
 1   Trimestre     985 non-null    object
 2   Provincia     984 non-null    object
 3   ADSL          984 non-null    float64
 4   Cablemodem    984 non-null    float64
 5   Fibra óptica  984 non-null    float64
 6   Wireless      984 non-null    float64
 7   Otros         984 non-null    float64
 8   Total         984 non-null    float64
dtypes: float64(6), object(3)
memory usage: 69.5+ KB

In [70]:
penetracion_poblacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       984 non-null    int64
 1   Trimestre                 984 non-null    int64
 2   Provincia                 984 non-null    object
 3   Accesos por cada 100 hab  984 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.9+ KB

In [71]:
penetracion_hogares.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           984 non-null    int64
 1   Trimestre                     984 non-null    int64
 2   Provincia                     984 non-null    object
 3   Accesos por cada 100 hogares  984 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.9+ KB

In [72]:
accesos_por_velocidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  984 non-null    int64
 1   Trimestre            984 non-null    int64
 2   Provincia            984 non-null    object
 3   HASTA 512 kbps       984 non-null    float64
 4   + 512 Kbps - 1 Mbps  984 non-null    float64
 5   + 1 Mbps - 6 Mbps    984 non-null    float64
 6   + 6 Mbps - 10 Mbps   984 non-null    float64
 7   + 10 Mbps - 20 Mbps  984 non-null    float64
 8   + 20 Mbps - 30 Mbps  984 non-null    float64
 9   + 30 Mbps            984 non-null    float64
 10  OTROS                978 non-null    float64
 11  Total                984 non-null    float64
dtypes: float64(9), int64(2), object(1)
memory usage: 92.4+ KB

In [73]:
velocidad_por_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     984 non-null    int64
 1   Trimestre               984 non-null    int64
 2   Provincia               984 non-null    object
 3   Mbps (Media de bajada)  984 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.9+ KB

Accesos por Tecnología

In [74]:
# Busco el origen de la diferencia de filas en las dos primeras columnas y lo soluciono
accesos_por_tecnologia.tail(3)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
983,2014,1,Tucumán,129717.0,83.0,121.0,13.0,98.0,130032.0
984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
# Elimino las dos ultimas filas, que no contienen datos
accesos_por_tecnologia = accesos_por_tecnologia.drop([984, 985])

# corroboro 
accesos_por_tecnologia.tail(3)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
981,2014,1,Santiago Del Estero,32567.0,3598.0,19.0,915.0,34.0,37133.0
982,2014,1,Tierra Del Fuego,21618.0,2837.0,648.0,1.0,2934.0,28038.0
983,2014,1,Tucumán,129717.0,83.0,121.0,13.0,98.0,130032.0

In [76]:
# Identifico el error en la columna 'Año' para luego convertir a tipo int 
accesos_por_tecnologia['Año'].unique()

array([2024, 2023, 2022, 2021, 2020, 2019, '2019 *', 2018, 2017, 2016,
       2015, 2014], dtype=object)

In [77]:
# Para solucionarlo, convierto 'Año' a str para luego extraer los primeros 4 digitos y con ellos reemplazar los valores originales (Y asi quedan sólo los años)
accesos_por_tecnologia['Año'] = accesos_por_tecnologia['Año'].astype(str).str.extract(r'(\d{4})')[0]
# Convierto al tipo de dato int
accesos_por_tecnologia['Año'] = accesos_por_tecnologia['Año'].astype(int)
print(accesos_por_tecnologia['Año'].unique())

[2024 2023 2022 2021 2020 2019 2018 2017 2016 2015 2014]

In [78]:
# Lo mismo con la columna 'Trimestre'
accesos_por_tecnologia['Trimestre'].unique()

array([1, 4, 3, 2, '3 *', '2 *', '1 *'], dtype=object)

In [79]:
# Hago lo mismo que con la columna Año, solo que extraigo el primer dígito (el trimestre)
accesos_por_tecnologia['Trimestre'] = accesos_por_tecnologia['Trimestre'].astype(str).str.extract(r'(\d)')[0]
accesos_por_tecnologia['Trimestre'] = accesos_por_tecnologia['Trimestre'].astype(int)
print(accesos_por_tecnologia['Trimestre'].unique())

[1 4 3 2]

In [80]:
# Renombro la columna 'Total' para mayor comprensión a futuro
accesos_por_tecnologia.rename(columns={'Total': 'Total por tecnologia'}, inplace=True)

Accesos por Velocidad

In [81]:
# Verifico los nulos existentes y los relleno con 0
nulos = accesos_por_velocidad['OTROS'].isnull().sum()
print(nulos)
accesos_por_velocidad['OTROS'] = accesos_por_velocidad['OTROS'].fillna(0)

6

In [82]:
# Elimino las columnas que se repiten con el dataframe 'accesos_por_tecnologia', ya que luego las concatenaré
accesos_por_velocidad.drop(columns=['Año','Trimestre','Provincia'], inplace=True)

In [83]:
# Renombro columnas para una mayor comprensión de las mismas
accesos_por_velocidad = accesos_por_velocidad.rename(columns={'OTROS': 'Otras velocidades'})
accesos_por_velocidad = accesos_por_velocidad.rename(columns={'Total': 'Total por velocidades'})

Velocidad por provincia

In [84]:
velocidad_por_prov.columns

Index(['Año', 'Trimestre', 'Provincia', 'Mbps (Media de bajada)'], dtype='object')

In [85]:
# Elimino las columnas que se repiten con los otros dataframes para luego poder concatenarlos
velocidad_por_prov.drop(columns=['Año','Trimestre','Provincia'], inplace=True)
print(velocidad_por_prov)

     Mbps (Media de bajada)
0                159.130000
1                229.940000
2                 91.450000
3                107.510000
4                 20.500000
..                      ...
979                3.315991
980                3.147407
981                2.949472
982                3.446888
983                3.208342

[984 rows x 1 columns]

Uno los dataframes para crear uno solo

In [86]:
# Concanteno los df 'accesos_por_velocidad', 'accesos_por_tecnologia' y 'velocidad_por_prov'
internet_prov = pd.concat([accesos_por_tecnologia, accesos_por_velocidad, velocidad_por_prov], axis=1)

In [87]:
internet_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     984 non-null    int64
 1   Trimestre               984 non-null    int64
 2   Provincia               984 non-null    object
 3   ADSL                    984 non-null    float64
 4   Cablemodem              984 non-null    float64
 5   Fibra óptica            984 non-null    float64
 6   Wireless                984 non-null    float64
 7   Otros                   984 non-null    float64
 8   Total por tecnologia    984 non-null    float64
 9   HASTA 512 kbps          984 non-null    float64
 10  + 512 Kbps - 1 Mbps     984 non-null    float64
 11  + 1 Mbps - 6 Mbps       984 non-null    float64
 12  + 6 Mbps - 10 Mbps      984 non-null    float64
 13  + 10 Mbps - 20 Mbps     984 non-null    float64
 14  + 20 Mbps - 30 Mbps     984 non-null    float64
 15  + 30 Mbps               984 non-null    float64
 16  Otras velocidades       984 non-null    float64
 17  Total por velocidades   984 non-null    float64
 18  Mbps (Media de bajada)  984 non-null    float64
dtypes: float64(16), int64(2), object(1)
memory usage: 146.2+ KB

De los DataFrames 'penetracion_poblacion' y 'penetracion_hogares' tomo sólo las columnas pertinentes y las agrego al DataFrame 'Internet'

In [88]:
internet_prov['Accesos por cada 100 hab'] = penetracion_poblacion['Accesos por cada 100 hab']
internet_prov['Accesos por cada 100 hogares'] = penetracion_hogares['Accesos por cada 100 hogares']

In [89]:
internet_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 984 entries, 0 to 983
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           984 non-null    int64
 1   Trimestre                     984 non-null    int64
 2   Provincia                     984 non-null    object
 3   ADSL                          984 non-null    float64
 4   Cablemodem                    984 non-null    float64
 5   Fibra óptica                  984 non-null    float64
 6   Wireless                      984 non-null    float64
 7   Otros                         984 non-null    float64
 8   Total por tecnologia          984 non-null    float64
 9   HASTA 512 kbps                984 non-null    float64
 10  + 512 Kbps - 1 Mbps           984 non-null    float64
 11  + 1 Mbps - 6 Mbps             984 non-null    float64
 12  + 6 Mbps - 10 Mbps            984 non-null    float64
 13  + 10 Mbps - 20 Mbps           984 non-null    float64
 14  + 20 Mbps - 30 Mbps           984 non-null    float64
 15  + 30 Mbps                     984 non-null    float64
 16  Otras velocidades             984 non-null    float64
 17  Total por velocidades         984 non-null    float64
 18  Mbps (Media de bajada)        984 non-null    float64
 19  Accesos por cada 100 hab      984 non-null    float64
 20  Accesos por cada 100 hogares  984 non-null    float64
dtypes: float64(18), int64(2), object(1)
memory usage: 161.6+ KB

In [90]:
# Le cambio el nombre a columnas para mayor comprensión
internet_prov = internet_prov.rename(columns={'Otros': 'Otras tecnologías'})

In [98]:
# Guardo el dataframe en formato parquet
internet_prov.to_parquet(r'Data\internet_prov.parquet', engine='auto', compression='snappy')

Armo un Dataframe para analizar los datos a nivel nación con la hoja 'Ingresos'

In [92]:
ingresos  = internet.parse('Ingresos ')
ingresos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        41 non-null     int64
 1   Trimestre                  41 non-null     int64
 2   Ingresos (miles de pesos)  41 non-null     float64
 3   Periodo                    41 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.4+ KB

In [93]:
print(ingresos['Año'].unique())

[2024 2023 2033 2022 2021 2020 2019 2018 2017 2016 2015 2014]

In [94]:
ingresos.head(10)

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2024          1               2.804191e+08   Ene-Mar 2024
1  2023          4               1.673760e+08   Oct-Dic 2023
2  2023          3               1.331066e+08  Jul-Sept 2023
3  2023          2               1.180603e+08   Jun-Mar 2023
4  2033          1               1.041350e+08   Ene-Mar 2023
5  2022          4               7.244348e+07   Oct-Dic 2022
6  2022          3               6.408678e+07  Jul-Sept 2022
7  2022          2               6.041950e+07   Abr-Jun 2022
8  2022          1               5.521931e+07   Ene-Mar 2022
9  2021          4               4.546789e+07   Oct-Dic 2021

Encuentro que hay un error de carga: 2033, donde debería ser 2023 trimestre 1. Lo modifico

In [95]:
ingresos.loc[ingresos['Año'] == 2033, 'Año'] = 2023

In [96]:
print(ingresos['Año'].unique())

[2024 2023 2022 2021 2020 2019 2018 2017 2016 2015 2014]

In [97]:
# Guardo el dataframe en formato parquet
ingresos.to_parquet(r'Data\ingresos.parquet', engine='auto', compression='snappy')